@use 'base';

// @font-face {
//     font-family: odachi;
//     src: url("../fonts/Odachi.otf") format("opentype");
// }

.fullpage-wrapper::before {
    background-image: url(../images/travel/travel.jpeg);
}

.main {
    font-size: 3.5em;
    color: base.$text-color;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;

    .quote {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        padding: 1em 2em;
        background: rgba(46, 46, 48, 0.2);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        overflow: hidden;

        font-family: 'Dancing Script', cursive;
        font-size: 0.8em;

        cursor: pointer;
    }
}