body, html {
    height: 100%;
    margin: 0;
    background-color: #263238;
    font-family: 'Roboto', sans-serif;
}

.fullpage-wrapper {
    /* background-image: url("../images/bokeh.jpeg"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;

    padding: 2em 2em;
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 17.5%;
    min-width: 35vh;

    z-index: 1;
}

.nav-item {
    color: #a0a0a0;
}

.nav-item:hover {
    cursor: pointer;
    color: #fff;
}

.nav-bar .active {
    color: #fff;
}

.name {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 2px;

    top: 30%;
    z-index: 0;
}

.name:hover {
    cursor: default;
}